/* Estilos Gerais */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

/* Cabeçalho */
header {
  background-color: #1d1f21;
  color: white;
  padding: 20px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}
.logo-container {
  display: flex; 
  align-items: center; 
}

.logo {
  width: 25px; 
  height: auto; 
  margin-right: 10px; 
}
.navbar .logo a {
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.navbar .menu a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 15px;
  font-size: 16px;
}

.navbar .menu a:hover {
  color: #ee5ca0;
}

/* Banner Principal */
.banner {
  display:flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #571634, #e0448d);
  color: white;
  text-align: center;
  padding: 50px 20px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.banner-content {
  max-width: 600px;
}

.banner h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.banner p {
  font-size: 1.2em;
  margin-bottom: 25px;
}

.botao-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.cta-button {
  background-color: #ee5ca0;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1.1em;
  font-weight: bold;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.cta-button:hover {
  background-color: #db5aaa;
  transform: scale(1.05);
}
@media (max-width: 600px) {
  .botao-container {
      flex-direction: column;
      align-items: center;
  }

  .cta-button {
      width: 100%;
      text-align: center;
  }
}
/* Formulário de Inscrição */
.container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 30px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 90%;
  padding: 15px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
input:focus {
  border-color: #ee5ca0;
  outline: none;
}
.evento-container {
  margin-bottom: 5px; /* Espaçamento entre os elementos */
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/* Estilo para o label */
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 16px;
}
/* Estilo para o select */
.custom-select {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}
.custom-select:focus {
  border-color: #ee5ca0;
  outline: none;
}
button[type="submit"] {
  background-color: #ee5ca0;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 15px;
  width: 100%;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #db5aaa;
}
/* Produtos em Destaque */
.products {
  background-color: #f9f9f9;
  padding: 60px 20px;
}

.products h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
}

.product-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.product-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 250px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card h3 {
  margin-top: 20px;
  font-size: 20px;
}
.qrcode-events {
  padding: 2rem;
  background-color: #f9e6f2;
  color: #333;
  text-align: center;
  margin-top: 2rem;
}

.qrcode-events h2 {
  font-size: 2rem;
  color: #e91e63;  /* Rosa forte */
  margin-bottom: 1.5rem;
}

.qrcode-events h3 {
  font-size: 1.5rem;
  color: #d81b60;  /* Rosa escuro */
  margin-top: 1.5rem;
}

.qrcode-events p {
  font-size: 1.1rem;
  color: #555;
  margin-top: 0.5rem;
}

.contact {
  padding: 40px 20px;
  background-color:linear-gradient(135deg, #571634, #e0448d);
  text-align: center;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-details {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.contact-item {
  width: 30%;
}

.contact-item h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.contact-item p {
  font-size: 1rem;
  color: #333;
}

.contact-item a {
  text-decoration: none;
  color: #db5aaa;
}

.contact-item a:hover {
  text-decoration: underline;
}
.pricing {
  padding: 2rem;
  background-color: #f4f4f4;
  text-align: center;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}

.pricing-card {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.pricing-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.pricing-card .price {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0;
}

.pricing-card button {
  background-color:#e0448d ;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.pricing-card button:hover {
  background-color: #e0448d;
}

.eventos-titulo {
  text-align: center;
  font-size: 2.5rem;
  color: #e91e63; /* Rosa forte */
  margin-bottom: 2rem;
}

.eventos-lista {
  list-style: none;
  padding: 0;
  margin: 0;
}

.evento-item {
  background-color: #f9e6f2;
  border: 1px solid #f3cce3;
  border-radius: 8px;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  transition: background-color 0.3s ease;
}

.evento-item:hover {
  background-color: #f3cce3;
}

.evento-nome {
  font-size: 1.8rem;
  color: #d81b60; /* Rosa escuro */
}

.evento-data,
.evento-local {
  font-size: 1.2rem;
  color: #555;
  margin-top: 0.5rem;
}

hr {
  border: 1px solid #e91e63;
  margin-top: 1.5rem;
}