{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta https-equiv="Content-Security-Policy" content="default-src *;" />
    <title>Bem-vindo a TechSecure</title>
    <link rel="stylesheet" href="{% static 'estilo.css' %}"/>
  </head>

  <body>
    <!-- Navbar com "TechSecure" -->
    <header>
      <nav class="navbar">
        <div class="logo">
          <img src="{% static  'img/logo 2.png' %}" alt="Logo TechSecure" class="logo">
          <a href="#">TechSecure</a>
        </div>
        <div class="menu">
          <a href="#nossos-servicos">Serviços</a>
          <a href="#">Suporte</a>
          <a href="#planos">Ofertas</a>
          <a href="#contato">Contato</a>
        </div>
      </nav>
    </header>

    <!-- Banner Principal -->
    <section class="banner">
      <div class="banner-content">
        <h1>Quem somos?</h1>
        <p>
          Somos uma empresa de segurança de controle de acesso. A TechSecure
          utiliza tecnologia de ponta para garantir a máxima segurança do seu
          acesso, para proteger sua conta, realizamos a autenticação através de
          QR Code.
        </p>
        <div class="botao-container">
          <a href="/forms" class="cta-button" onclick="scrollToForm()">Inscreva-se em evento</a>
          <a href="create_event" class="cta-button">Cadastrar evento</a>
          <button type="button" onclick="abrirCamera()" class="cta-button">Escanear QRCode</button>
          <a href="list_events" class="cta-button">Eventos Disponíveis</a>
        </div>
    </section>

    <div id="reader" width="600px"></div>

    <section class="products" id="nossos-servicos">
      <h2>Nossos serviços</h2>
      <div class="product-cards">
        <div class="product-card">
          <img src="{% static  'img/card1.jpg' %}" alt="Produto 1" />
          <h3>Autenticação Segura para Acesso</h3>
          <p> Implementamos um sistema de autenticação segura que utiliza um leitor de QR Code para garantir um acesso rápido e protegido.</p>
          <button onclick="scrollToPlans()">Ver Detalhes</button>
        </div>
        <div class="product-card">
          <img src="{% static  'img/card2.jpg' %}" alt="Produto 2" />
          <h3>Treinamento da Equipe de Segurança</h3>
          <p>Oferecemos treinamentos especializados para sua equipe de segurança, garantindo o uso eficiente do nosso sistema e a manutenção das melhores práticas de segurança.</p>
          <button onclick="scrollToPlans()">Ver Detalhes</button>
        </div>
        <div class="product-card">
          <img src="{% static  'img/card3.jpg' %}" alt="Produto 3" />
          <h3> Geração de relatórios de Entradas e Saídas</h3>
          <p> Acompanhamento em tempo real das entradas e saídas, com relatórios detalhados para garantir total controle e segurança sobre o fluxo de acessos.</p>
          <button  onclick="scrollToPlans()">Ver Detalhes</button>
        </div>
      </div>
    </section>
      <section class="pricing" id="planos">
        <h2>Planos Disponíveis</h2>
        <div class="pricing-cards">
          <div class="pricing-card">
            <h3>Básico</h3>
            <p>Ideal para pequenas empresas.</p>
            <p class="price">R$99/mês</p>
            <button>Assinar</button>
          </div>
          <div class="pricing-card">
            <h3>Intermediário</h3>
            <p>Para empresas em crescimento.</p>
            <p class="price">R$199/mês</p>
            <button>Assinar</button>
          </div>
          <div class="pricing-card">
            <h3>Premium</h3>
            <p>O melhor para grandes corporações.</p>
            <p class="price">R$299/mês</p>
            <button>Assinar</button>
          </div>
        </div>
      </section>
      <section class="qrcode-events">
        <h2>Por que usar QR Codes para Controle de Acesso em Eventos?</h2>
      
        <h3>1. Entrada Rápida e Sem Filas</h3>
        <p>
          O QR Code permite que os participantes acessem o evento rapidamente, sem a necessidade de bilhetes físicos. Com um simples escaneamento, a entrada é liberada de forma instantânea.
        </p>
      
        <h3>2. Aumenta a Segurança</h3>
        <p>
          Utilizar QR Codes garante que apenas pessoas autorizadas tenham acesso, já que o código é único e gerado dinamicamente, dificultando fraudes e falsificações.
        </p>
      
        <h3>3. Redução de Custos</h3>
        <p>
          Com o QR Code, não há necessidade de imprimir ingressos físicos ou utilizar sistemas caros, o que reduz significativamente os custos operacionais.
        </p>
      
        <h3>4. Melhora a Experiência do Participante</h3>
        <p>
          O processo de entrada é ágil e digital, proporcionando uma experiência mais moderna e conveniente para os participantes.
        </p>
      </section>
      
      <section class="contact" id="contato">
        <h2>Entre em Contato</h2>
          <p>
            Se você tiver dúvidas ou precisar de mais informações, entre em contato conosco através de qualquer um dos canais abaixo. Estamos aqui para ajudar!
          </p>
          <div class="contact-details">
            <div class="contact-item">
              <h3>Email</h3>
              <p><a href="#">contato@techsecureeventos.com.br</a></p>
            </div>
            
            <div class="contact-item">
              <h3>Telefone</h3>
              <p>(84) 3301-1401</p>
            </div>
        
            <div class="contact-item">
              <h3>Endereço Matriz</h3>
              <p> Avenida Rui Barbosa, n° 1270, Lagoa Nova, Natal-RN</p>
            </div>
        
            <div class="contact-item">
              <h3>Redes Sociais</h3>
              <p>
                <a href="https://www.facebook.com/TechSecure" target="_blank">Facebook</a> | 
                <a href="https://www.instagram.com/TechSecure" target="_blank">Instagram</a> |
                <a href="https://www.linkedin.com/company/TechSecure" target="_blank">LinkedIn</a>
              </p>
            </div>
          </div>

      <!-- Rodapé -->
    <footer>
      <p>&copy; 2024 TechSecure. Todos os direitos reservados.</p>
      <div>
        <a href="#">Termos de Uso</a>
        <a href="#">Política de Privacidade</a>
        <a href="#">Ajuda</a>
      </div>
    </footer>
  </body>

  <script type="text/javascript" src="{% static 'scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'html5-qrcode.min.js' %}"></script>
</html>
